<!DOCTYPE html>
<html>
<head>
	<%- include ../common/meta.ejs %>
	<title>景点介绍</title>
	<link rel="stylesheet" type="text/css" href="css/order-create.css">
</head>
<body>
	<div id="wrapper" class="container">
		<div class="order-create">
			<div class="title">订单填写</div>
			<div class="prod-info">
				<span class="pic">
					<img src="<%= spic %>">
				</span>
				<div class="name"><%= name %></div>
				<div class="desc">X<%= desc %></div>
				<div class="single-price"><span>￥<%= amount %></span>/张</div>
			</div>
			<div class="order-info">
				<dl>
					<dt>使用日期</dt>
					<dd>
						<div class="time-box">
							<input name="use_time" palceholder="请选择使用日期">
							<span class="time-selector"></span>
						</div>
					</dd>
				</dl>
				<dl>
					<dt>购买数量：</dt>
					<dd>
						<div class="count-box">
							<span>-</span>
							<input name="count" value="1">
							<span>+</span>
						</div>
					</dd>
				</dl>
			</div>

			<div class="tel-info">
				<dl class="input-line">
					<label>手机号</label>
					<input name="username" placeholder="请输入注册手机号">
				</dl>
				<dl class="input-line code-line">
					<label>验证码</label>
					<input name="code" placeholder="请输入接收的验证码">
					<span class="btn-code">获取验证码</span>
				</dl>
			</div>
			<div class="btn-commit">提交订单</div>
		</div>
	</div>
	<script type="text/javascript" src='js/order-list.js'></script>
	<script type="text/javascript">
		$(document).ready(function(){
			// moka.order.list.init();
		});
	</script>
</body>
</html>
